.App {
  text-align: center;
  background: radial-gradient(circle, #eea454 0%, #e9c89f 60%, #f3debd 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow: hidden; /* Impede que as folhas continuem aparecendo ao sair da tela */
}

.flower {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px; /* Adiciona espaçamento entre a flor e a barra de progresso */
}

.flower-center {
  background-color: #663103;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: width 0.5s ease, height 0.5s ease;
  z-index: 10; /* Garante que o miolo fique acima das pétalas */
}

.petal {
  position: absolute;
  width: 89px;
  height: 99px;
  border-radius: 0px 90px;
  background: #F9C22D;
  box-shadow: 0px 4px 4px 0px rgba(201, 75, 8, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  z-index: 1; /* Garante que as pétalas fiquem abaixo do miolo */
}

.petal p {
  font-size: 12px;
  color: #333;
}

.progress-bar {
  margin-top: 20px; /* Adiciona espaçamento de 20px entre o miolo e a barra de progresso */
  font-size: 16px;
}
